<h1>+side <i>~もう一品の喜びを~</i></h1>

<p>
「+side」は、おかずの他にもう一品作りたい！でもキッチンが狭かったり
<br>コンロが足りなかったりして困っている下宿生に役立つサービスです
<br>
↓の欄に今日のおかずを入れると、
<br>
それと健康のバランスが取れた、コンロを使わなくていいレシピが出てきます！
</p>

<h1>今日は何作る？</h1>
<%= render :partial => "form" %>
