<h1 id="title">今日のおかずは何にしようかな？</h1>

<table>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.title, recipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
